<<<<<<< head h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
}
h3 {
  font-size: 2rem;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Slabo 27px", serif;
  background-color: white;
}
.top-title {
  background: #333;
  padding: 5px;
  text-align: center;
}
.header {
  font-size: 3rem;
  padding: 60px;
  text-align: center;
  background-image: url(background/top1.png);
  background-repeat: repeat-x;
  background-size: cover;
  background-position: bottom left;
  background-color: #e40c2b;
  color: rgba(5, 5, 5, 0.8);
}
.navbar {
  display: flex;
  background-color: #333;
}
.navbar a {
  color: white;
  font-family: "Righteous", cursive;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}
/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}
/* Make 2 columns next to each other */
.side {
  flex: 35%;
  background-color: #f1f1f1;
  padding: 25px;
}
.main {
  flex: 65%;
  background-color: white;
  padding: 15px 17px 20px 15px;
}
.pp {
  background-image: url(background/h1.jpg);
  background-size: cover;
  background-position: center;
  color: transparent;
  float: top;
  width: 270px;
  height: 260px;
  margin: 20px 0 20px 10px;
  border-radius: 50%;
  border: 0.7rem solid rgba(204, 59, 15, 0.1);
}
.about {
  background-color: #f3e367;
  padding: 5px 15px 5px 15px;
}
.p1 {
  background-color: #f1e821;
  padding: 10px;
}
.p2 {
  background-color: #f1e821;
  padding: 10px;
}
.edu {
  background-color: #141824;
  color: white;
  padding: 15px 15px 5px 15px;
}

.auc {
  background-color: #22223a;
  color: beige;
  padding: 15px;
}
.auc:hover {
  background-color: rgba(22, 22, 23, 0.5);
}
.helwan {
  background-color: #f1e821;
  color: #151516;
  padding: 15px;
}
.pis {
  background-color: #f3e367;
  color: black;
  padding: 20px;
}
.img1 {
  background-image: url(background/h3.jpg);
  background-size: 370px;
  margin-top: 40px;
  color: transparent;
  height: 300px;
  border: 0.7rem solid rgba(11, 11, 11, 0.1);
  border-radius: 50px;
  background-position: bottom;
  background-repeat: no-repeat;
}
.img1:hover {
  padding: 5px;
  background-color: #333;
}
.skills {
  background-color: #f3e367;
  padding: 20px;
}
.activities {
  background-color: #141824;
  color: white;
  padding: 20px;
}

.main {
  background-image: url(background/orange-line-png-19-original.png);
  background-repeat: repeat;
  background-size: 60px;
  background-position: top right;
}
.exp {
  max-width: 800px;
}
.exp h3 {
  font-size: 2.2rem;
}
.title {
  font-size: 1.1rem;
  font-weight: bold;
}
.crc,
.east-delta,
.geosol,
.zafarana,
.aoi,
.sewedy {
  background-color: rgba(255, 154, 0, 0.3);
  padding: 1px 10px 3px 7px;
  margin: 0 0 10px 5px;
}
.Tr_courses {
  background-image: url(background/char.png);
  background-repeat: no-repeat;
  background-size: 35%;
  /*background-position: bottom right;*/
  background-position: bottom right;
}
/*.course {
  background-color: rgba(10, 10, 10, 0.9);
  margin: 0 50px 7px 5px;
  padding: 1px 10px 5px 12px;
  color: white;
}*/
footer > div > a > img {
  height: 50px;
  margin: 20px;
  align-content: center;
}
footer {
  flex: 100%;
  font-family: "Righteous", cursive;
  /*background-image: url(background/A9.png);*/
  /* background-size: cover;*/
  background-color: #151516;
  background-blend-mode: multiply;
  padding-bottom: 5px;
  text-align: center;
  font-size: 1.2em;
  margin-top: 10px;
}
footer a {
  display: inline-flex;
  padding: 0.4em;
  color: white;
  text-decoration: none;
  margin-top: 20px;
}
@media screen and (max-width: 700px) {
  .row,
  .navbar {
    flex-direction: column;
  }
}
